PORT=8000
MONGODB_URI=mongodb+srv://rupnarayan23ise:imO1dS5Bcrxwr3Ku@cluster0.92znilt.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=rup-aur-code
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=rup-aur-backend
REFRESH_TOKEN_EXPIRY=10d
